<%= simple_form_for @order do |form| %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="form-group">
      <%= form.association :client, label: "Cliente", class: "form-control" %>
      <%= form.input :direction, label: "Direccion", class: "form-control" %>

      <table class="table table-striped">
        <thead>
          <tr>
            <th></th>
            <th>Piezas</th>
            <th>Ancho</th>
            <th>Alto</th>
            <th>Largo</th>
            <th>Descripcion</th>
            <th>Hecho</th>
          </tr>
        </thead>

        <tbody class="articles">
          <%# Creates a fields_for to request for attributes of task%>
          <%= form.simple_fields_for :articles do |form_builder| %>
            <%= render 'article_fields', f:  form_builder %>
          <% end %>
        </tbody>

      </table>

      <br/>

      <div class="form-actions">
        <%= form.button :submit  %>
        <%= link_to_add_association "Agregar Articulo", form, :articles, class: "btn btn-primary",
        data: { association_insertion_node: ".articles", association_insertion_method: :append } %>
      </div>
    </div>
  </div>
</div>

<% end %>
